<!Codtype html)
<html>
<head>
 <title>おちんち</title>
 (meta charset="u")
<1>ちんちｎ</h1>
<a name="ち">んこ</a>
<p><a href="https://github.com/numarsCU0/web1-1" />
<img src="https://raw.githubusercontent.com/numarsCU0/web1-1/master/CU0.bmp" alt="This is mark" />
</head>
<body>
　ちいいいいいいいいいいいいいいいん
</body>
</html>
